@store_listing
Zum Schutz der Augen ermöglicht diese Erweiterung das Erstellen dunkler Themes für Webseiten. Moonveil invertiert helle Farben und macht Webseiten kontrastreich und leicht lesbar.

Passe Helligkeit, Kontrast, Sepia-Filter und Schrifteinstellungen an. Aktiviere den Dunkelmodus auf jeder Webseite oder gib Websites einen Sepiaton. Aktiviere oder deaktiviere Moonveil für einzelne Websites, synchronisiere automatisch mit dem System-Dunkelmodus oder erkenne bereits dunkle Websites und lasse sie unverändert.

Mit der Installation der Erweiterung stimmst du diesen Nutzungsbedingungen zu: https://github.com/owenpkent/moonveil/blob/main/LICENSE

Bitte deaktiviere ähnliche Erweiterungen, um Konflikte zu vermeiden. Viel Spaß beim Surfen!
