@store_listing
Ekstensi penjagaan mata ini mendayakan mod malam dengan mencipta tema gelap untuk laman web dengan cepat. Moonveil menyongsangkan warna terang, menjadikannya kontras tinggi dan mudah dibaca pada waktu malam.

Anda boleh melaraskan kecerahan, kontras, penapis sepia, mod gelap, tetapan fon dan senarai abaikan.

Dengan memasang sambungan ini, anda bersetuju dengan terma penggunaan ini https://github.com/owenpkent/moonveil/blob/main/LICENSE

Sila lumpuhkan sambungan yang serupa untuk mengelakkan konflik. Selamat melayari!
