@store_listing
Це розширення для догляду за очима дозволяє створювати темні вигляди для мережевих сайтів. Moonveil інвертує яскраві барви, роблячи їх контрастними і такими що легко читаються вночі.

Ви можете налаштувати яскравість, контраст, сепію, темний вигляд, налаштування вигляду тексту та список нехтування.

Встановлюючи розширення, ви погоджуєтеся з умовами використання https://github.com/owenpkent/moonveil/blob/main/LICENSE

Будь ласка, вимкніть схожі розширення, щоб уникнути конфліктів. Насолоджуйтесь переглядом!
