@store_listing
Ово проширење брине о вашим очима тако што омогућава тамну тему за сајтове. Moonveil инвертује светле боје и појачава контраст, што омогућава лакше читање ноћу.

Можете подесити осветљеност, контраст, сепија филтер, фонт преференце, бирати између тамног и shader режима, и омогућити или онемогућити проширење за специфичне сајтове.

Инсталирањем проширења прихватате ове услове коришћења https://github.com/owenpkent/moonveil/blob/main/LICENSE

Молимо вас да онемогућите слична проширења да бисте избегли сукобе. Уживајте у прегледању!
