@store_listing
Cette extension de navigateur implémente un thème sombre global en créant à la volée des thèmes sombres pour chaque site que vous visitez. Moonveil augmente le contraste des couleurs vives pour les rendre plus agréables à la vue la nuit.

Vous pouvez également ajuster la luminosité, le contraste, le filtre sépia, le thème sombre, la police du texte ainsi que la liste des sites ignorés par l'extension.

En installant cette extension, vous acceptez les présentes conditions d'utilisation : https://github.com/owenpkent/moonveil/blob/main/LICENSE

Veuillez désactiver les extensions similaires afin d'éviter tout conflit. Profitez-en et prenez soin de vos yeux!
