@store_listing
Denne øjenplejeudvidelse aktiverer nattilstand ved at skabe mørke temaer til websteder i farten. Moonveil inverterer lyse farver, hvilket gør dem høj kontrast og nemme at læse om natten.

Du kan justere lysstyrke, kontrast, sepiafilter, mørk tilstand, skrifttypeindstillinger og ignoreringslisten.

Ved at installere udvidelsen accepterer du disse brugsbetingelser https://github.com/owenpkent/moonveil/blob/main/LICENSE

Deaktiver venligst lignende udvidelser for at undgå konflikter. God fornøjelse med at browse!
