@store_listing
Toto rozšírenie je šetrné k očiam, vytvára nočný režim pre stránky za pochodu. Moonveil invertuje jasné farby a robí ich kontrastnejšími, čím sa zlepšuje ich čitateľnosť v noci.

Upravovať môžete jas, kontrast, sépiový filter, tmavý režim, nastavenia písma a zoznam ignorovaných stránok.

Inštaláciou rozšírenia súhlasíte s podmienkami používania https://github.com/owenpkent/moonveil/blob/main/LICENSE

Prosím, zakážte podobné rozšírenia, aby ste predišli konfliktom. Prajeme vám príjemné prehliadanie!
