@store_listing
Esta extensão ajuda os seus olhos a relaxarem ao criar e aplicar o modo escuro aos sites que você visita. O Moonveil inverte as cores brilhantes, tornando-as de alto contraste e deixando-as fáceis de serem lidas à noite.

Você pode ajustar o brilho, o contraste, os tons de sépia, o modo escuro, as configurações de fonte e a lista negra.

Ao instalar a extensão, você concorda com estes termos de uso https://github.com/owenpkent/moonveil/blob/main/LICENSE

Desative extensões semelhantes para evitar conflitos. Boa navegação!
