@store_listing
Esta extensión que cuida los ojos habilita el modo nocturno, creando temas oscuros para sitios de internet en el momento. Moonveil invierte los colores brillantes, haciéndolos contrastantes y fáciles de leer a la noche.

Puede ajustar brillo, contraste, filtro sepia, modo oscuro, configuración de fuentes y lista de ignorados.

Al instalar la extensión, aceptas estos términos de uso: https://github.com/owenpkent/moonveil/blob/main/LICENSE

Desactiva extensiones similares para evitar conflictos. ¡Disfruta navegando!
