@store_listing
Това щадящо очите разширение позволява нощен режим чрез създаване на тъмни теми за уебсайтове в движение. Moonveil обръща ярките цветове, правейки ги с висок контраст и лесни за четене през нощта.

Можете да регулирате яркостта, контраста, сепия филтъра, тъмния режим, настройките на шрифта и списъка за игнориране.

С инсталирането на разширението вие се съгласявате с тези условия за ползване https://github.com/owenpkent/moonveil/blob/main/LICENSE

Моля, деактивирайте подобни разширения, за да избегнете конфликти. Приятно сърфиране!
