@store_listing
Это расширение переводит браузер в ночной режим. Moonveil заменяет светлый фон тёмным, что снижает усталость глаз при долгой работе за компьютером либо при просмотре веб-страниц ночью.

Имеется возможность настраивать яркость, контрастность, шрифт, режим инверсии, режим наложения жёлтого фильтра (сепия).

Установив расширение, вы соглашаетесь с условиями использования https://github.com/owenpkent/moonveil/blob/main/LICENSE

Пожалуйста, отключите подобные расширения, чтобы избежать конфликтов. Приятного просмотра!
