@store_listing
Bu göz bakım eklentisi web siteleri için anında koyu temalar oluşturarak gece modunu etkinleştirir. Moonveil parlak renkleri ters çevirerek yüksek kontrast oluşturur ve geceleri okumayı kolaylaştırır.

Parlaklığı, kontrastı, sepya filtresini, koyu modu, yazı tipi ayarlarını ve yoksayma listesini ayarlayabilirsiniz.

Eklentiyi yükleyerek şu kullanım koşullarını kabul etmiş olursunuz https://github.com/owenpkent/moonveil/blob/main/LICENSE

Çakışmaları önlemek için lütfen benzer eklentileri devre dışı bırakın. Keyifli gezinmeler!
