@store_listing
Denne øye-beskyttelse utvidelsen aktiverer nattmodus og lager mørke temaer for nettsider. Moonveil bytter ut lyse farger med mørke høy-kontrast farger og gjør lesing om kvelden enkelt.

Du kan regulere lysstyrken, kontrasten, bruntone, nattmodus, skrifttype-instillinger og ignorer-liste.

Ved å installere utvidelsen godtar du disse bruksvilkårene https://github.com/owenpkent/moonveil/blob/main/LICENSE

Vennligst deaktiver lignende utvidelser for å unngå konflikter. Kos deg med nettlesingen!
