@store_listing
Esta extensión para el cuidado de la vista habilita el modo nocturno al crear temas oscuros para sitios web sobre la marcha. Moonveil invierte los colores brillantes, haciéndolos de alto contraste y fáciles de leer por la noche.

Puede ajustar el brillo, el contraste, el filtro sepia, el modo oscuro, la configuración de fuente y la lista de ignorados.

Al instalar la extensión, aceptas estos términos de uso: https://github.com/owenpkent/moonveil/blob/main/LICENSE

Desactiva extensiones similares para evitar conflictos. ¡Disfruta navegando!
