@store_listing
यह आंख-सहायक ब्राउज़र-एक्सटेंशन रात्रि स्थिति को अधिकृत करके वेबसाइटों के लिए अंधेरे थीम को बनाने में सक्षम बनाता है। Moonveil चमकदार रंगों को उच्च विपरीत बना देता है इसलिए रात में पढ़ने में आसान होता है।

आप चमक, कंट्रास्ट, सेपिया फ़िल्टर, डार्क मोड, फ़ॉन्ट सेटिंग्स और न चलन-सूची समायोजित कर सकते हैं।

एक्सटेंशन इंस्टॉल करके आप इस्तेमाल की इन शर्तों https://github.com/owenpkent/moonveil/blob/main/LICENSE से सहमत हैं।

कॉन्फ्लिक्ट से बचने के लिए कृपया मिलते-जुलते एक्सटेंशन को डिसेबल कर दें। ब्राउज़िंग का मज़ा लें!
