@store_listing
Ekstensi ini mengaktifkan mode malam dengan membuat halaman situs web menjadi gelap. Moonveil bekerja dengan membalik warna cerah dengan warna kontras sehingga nyaman di mata.

Anda bisa mengatur kecerahan, kontras, filter sepia, mode malam, setelan fon dan pengecualian situs web.

Dengan memasang ekstensi ini, Anda menyetujui persyaratan penggunaan ini https://github.com/owenpkent/moonveil/blob/main/LICENSE

Harap nonaktifkan ekstensi serupa untuk menghindari konflik. Selamat menjelajah!
