@store_listing
Deze oogzorgextensie heeft een nachtstand die automatisch donkere thema's maakt voor websites. Donkere modus keert lichte kleuren om voor goede leesbaarheid 's nachts.

Je kunt de helderheid, het contrast, het kleurenfilter, de donkere modus, het lettertype en de lijst van te negeren websites geheel instellen naar wens.

Door de extensie te installeren, gaat u akkoord met deze gebruiksvoorwaarden https://github.com/owenpkent/moonveil/blob/main/LICENSE

Schakel vergelijkbare extensies uit om conflicten te voorkomen. Veel plezier met browsen!
