@store_listing
Гэта пашырэнне пераводзіць браўзэр у начны рэжым. Moonveil замяняе светлы фон цёмным, што зніжае стомленасць вачэй пры доўгай працы за кампутарам альбо пры праглядзе вэб-старонак ноччу.

Маецца магчымасць наладжваць яркасць, кантраснасць, шрыфт, рэжым інверсіі, рэжым накладання жоўтага фільтра (сэпія).

Усталёўваючы пашырэнне, вы згаджаецеся з ўмовамі выкарыстання https://github.com/owenpkent/moonveil/blob/main/LICENSE

Калі ласка, адключыце падобныя пашырэнні, каб пазбегнуць канфліктаў. Прыемнага прагляду!
