@store_listing
This eye-care extension enables night mode by creating dark themes for websites on the fly. Moonveil inverts bright colors to make web pages high contrast and easier to read.

Adjust brightness, contrast, the sepia filter, font preferences. Enable dark mode on every web page or give websites a sepia tone. Enable or disable Moonveil for specific websites, automatically sync with system dark mode, or detect already dark websites and leave them unchanged.

By installing the extension you agree to these terms of use https://github.com/owenpkent/moonveil/blob/main/LICENSE

Please disable similar extensions to avoid conflicts. Enjoy browsing!
