@store_listing
Αυτό το θεαματικό πρόσθετο, μετατρέπει ζωντανά τις ιστοσελίδες που επισκέπτεστε σε σκούρες. Το Moonveil αντιστρέφει τα χρώματα δημιουργώντας έντονη αντίθεση για ευκολότερη ανάγνωση κατά τις βραδυνές ώρες.

Μπορείτε να προσαρμόσετε φωτεινότητα, αντίθεση, φίλτρο sepia, σκούρα εμφάνιση και λίστα ιστσελίδων στις οποίες το πρόσθετο δεν θα παρεμβαίνει.

Εγκαθιστώντας την επέκταση, συμφωνείτε με αυτούς τους όρους χρήσης https://github.com/owenpkent/moonveil/blob/main/LICENSE

Απενεργοποιήστε παρόμοιες επεκτάσεις για να αποφύγετε διενέξεις. Απολαύστε την περιήγηση!
