@store_listing
นี้เป็นส่วนเสริมที่คอยดูแลสายตาของคุณด้วยการเปิดโหมดกลางคืน และสร้างธีมมืดให้กับทุกๆเว็บ Moonveil จะสลับสีสว่างๆให้เป็นสีดำหรือสีมืด และทำให้ง่ายต่อการอ่านตอนกลางคืน

คุณสามารถปรับแต่งความสว่าง, คอนทราสต์, สีซีเปีย, โหมดมืด, ตั้งค่าฟอนต์ และทำรายการยกเว้นได้

การติดตั้งส่วนขยายนี้หมายความว่าคุณยอมรับข้อกำหนดการใช้งานเหล่านี้ https://github.com/owenpkent/moonveil/blob/main/LICENSE

โปรดปิดใช้งานส่วนขยายที่คล้ายกันเพื่อหลีกเลี่ยงความขัดแย้ง ขอให้สนุกกับการท่องเว็บ!
