@store_listing
Tiện ích này bảo vệ mắt bằng cách tạo ra chế độ tối cho các trang web đang hoạt động. Moonveil đảo ngược màu sáng, làm cho chúng có độ tương phản cao và dễ đọc vào ban đêm.

Bạn có thể điều chỉnh độ sáng, độ tương phản, độ ấm, chế độ tối, phông chữ và danh sách bỏ qua.

Bằng cách cài đặt tiện ích mở rộng, bạn đồng ý với các điều khoản sử dụng này https://github.com/owenpkent/moonveil/blob/main/LICENSE

Vui lòng tắt các tiện ích mở rộng tương tự để tránh xung đột. Chúc bạn duyệt web vui vẻ!
