@store_listing
Detta ögonskonande tillägg aktiverar ett nattläge som skapar mörka teman på webbplatser. Moonveil inverterar ljusa färger för att skapa hög kontrast och göra det enkelt att läsa på natten.

Du kan justera ljusstyrkan, kontrasten, sepiafiltret, mörkerläget, typsnittet och ignoreringslistan.

Genom att installera tillägget godkänner du dessa användarvillkor https://github.com/owenpkent/moonveil/blob/main/LICENSE

Vänligen inaktivera liknande tillägg för att undvika konflikter. Ha det trevligt med surfandet!
