@store_listing
To rozszerzenie dba o zdrowie twoich oczu poprzez dynamiczne tworzenie ciemnych motywów dla stron internetowych. Moonveil zmienia jasne kolory na ciemniejsze i nadaje im wysoki kontrast, co ułatwia czytanie w nocy.

Możesz dopasować jasność, kontrast, filtr sepii, tryb ciemny, czcionki i listę ignorowanych stron do swoich potrzeb.

Instalując rozszerzenie, akceptujesz niniejsze warunki użytkowania https://github.com/owenpkent/moonveil/blob/main/LICENSE

Wyłącz podobne rozszerzenia, aby uniknąć konfliktów. Miłego przeglądania!
