@color-back: #13111f;
@color-fore: #a99cff;

@color-control-back: #13111f;
@color-control-hover: #231d44;
@color-control-active: #4b3fa6;
@color-control-fore: #ffffff;
@color-control-fore-inactive: #5f55b0;

@color-input-back: #13111f;
@color-input-hover: #231d44;
@color-input-active: #231d44;
@color-input-fore: #a99cff;
@color-input-fore-active: #ffffff;
@color-input-fore-placeholder: #6a62a8;

@color-border: #4b3fa6;
@color-heading: #ffd98e;
@color-error: #db4245;
@color-ok: #317c4e;
@color-ok-fore: #3bc077;
@color-selection-back: #8b7cf6;
@color-selection-fore: #ffffff;

@font-family: Open Sans, Segoe UI, Helvetica Neue, Ubuntu, sans-serif;

@size-border: 0.125rem;
@size-border-inner: 0.0625rem;
@size-control-inner: 1.5rem;
@size-control-description: 0.75rem;
@size-scrollbar-padding: 0.25rem;
@size-scrollbar-thickness: 0.75rem;
@size-text-normal: 0.75rem;
@size-text-normal-height: 1rem;
@size-text-small: 0.625rem;
@size-text-small-height: 0.875rem;
@size-text-large: 0.875rem;
@size-text-large-height: 1rem;

@indent-large: 0.75rem;
@indent-small: 0.5rem;

@time-fast: 125ms;
@time-slow: 250ms;
